<header>
  <div class="headerLogo">
    <a routerLink="">
      <img
        src="https://natujenge.ke/assets/images/logo-wordmark.svg"
        alt="Natujenge Logo"
      />
    </a>
  </div>
  <div class="headerLinks">
    <a href="https://www.meliora.co.ke/articles/nvrjgtnsgh5ophs6mm">About</a>
  </div>
</header>

<div *ngIf="allBills$ | async as bills" class="allBillsContainer">
  <div *ngFor="let bill of bills; let i=index" class="billCont">
    <p>{{bill['name']}}</p>
    <p>{{bill['amount']}}</p>
    <p>{{bill['createdOn'] ? bill['createdOn'].split('T')[0] : bills[i-1]['createdOn'].split('T')[0] }}</p>
    <div class="deleteBtn">
      <mat-icon (click)="deleteBill(bill['id'])">delete</mat-icon>
    </div>
  </div>

  <small *ngIf="deleteBill$ | async">...</small>

</div>

<footer>Powered by Natujenge</footer>

