<header>
  <div class="headerLogo">
    <a routerLink="">
      <img
        src="https://natujenge.ke/assets/images/logo-wordmark.svg"
        alt="Natujenge Logo"
      />
    </a>
  </div>
  <div class="headerLinks">
    <a href="https://www.meliora.co.ke/articles/nvrjgtnsgh5ophs6mm">About</a>
  </div>
</header>

<div class="teamContainer">
  <div *ngFor="let memb of team">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{memb.name}}</mat-card-title>
        <mat-card-subtitle>{{memb.title}}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="memb.img"
        [alt]="memb.name"
      />
      <mat-card-content>
        <p>{{memb.desc}}</p>
      </mat-card-content>

    </mat-card>
  </div>
</div>

<footer>Powered by Natujenge</footer>
>
